.button__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .button__wrap {
    display: block;
  }
}

.button {
  width: 49.9%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: #322a27;
  color: white;
  border: none;
  margin: 0 0.25rem;
}

@media screen and (max-width: 480px) {
  .button {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

.first__double {
  width: 65%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: #322a27;
  color: white;
  border: 2.5px solid #322a27;
  margin: 0 0.25rem;
}

@media screen and (max-width: 480px) {
  .first__double {
    width: 100%;
    margin: 0;
  }
}

.first__double__modal {
  width: 49.9%;
  font: inherit;
  cursor: pointer;
  background-color: #322a27;
  color: white;
  border: 2.5px solid #322a27;
  margin: 0 0.25rem;
}

@media screen and (max-width: 480px) {
  .first__double__modal {
    width: 100%;
    padding: 5px;
  }
}

.first__double:disabled {
  cursor: default;
  background-color: #9b9390;
  border: 2.5px solid #9b9390;
}

.first {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: #322a27;
  color: white;
  border: none;
  margin: 0 auto;
  margin-top: 15px;
}

.first:disabled {
  cursor: default;
  background-color: #9b9390;
}

.second {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: white;
  color: #322a27;
  border: 2px double #322a27;
  margin: 0 auto;
  margin-top: 10px;
}

.second__double {
  width: 35%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: white;
  color: #322a27;
  border: 2.5px double #938e8d;
  margin: 0 0.25rem;
}

@media screen and (max-width: 480px) {
  .second__double {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

.second__double__modal {
  width: 49.9%;
  font: inherit;
  cursor: pointer;
  background-color: white;
  color: #322a27;
  border: 2.5px double #938e8d;
  margin: 0 0.25rem;
}

@media screen and (max-width: 480px) {
  .second__double__modal {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }
}

.duplicateCheckButton {
  width: 30%;
  font: inherit;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  color: #322a27;
  border: 1px solid #938e8d;
  padding: 5px;
  margin-left: 10px;
}

.duplicateCheckButton:disabled {
  color: white;
  cursor: default;
  background-color: #9b9390;
  border: 1px solid #9b9390;
}

@media screen and (max-width: 480px) {
  .duplicateCheckButton {
    width: 35%;
    font-size: 15px;
    padding: 7px 5px;
  }
}
