body {
  background-color: #faf2e8;
  color: #322a27;
  font-family: "Noto Serif JP", serif;
}

@media screen and (min-width: 481px) {
  html:before,
  html:after,
  body:before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 1.5px solid #322a27;
  }

  html:after {
    z-index: 10;
    top: auto;
    border-width: 0 0 1px;
  }

  body:before {
    z-index: 10;
    bottom: auto;
    border-width: 1px 0 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

::placeholder {
  font-family: "Noto Serif JP", serif;
}

.description {
  margin-bottom: 0;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .description {
    font-size: 16px;
  }
}

.description li:not(:last-child) {
  margin-bottom: 20px;
}

.wordTopModule {
  margin: 0;
  display: flex;
  align-items: center;
}

.margin0 {
  margin: 0 !important;
}

.marginTop10 {
  margin-top: 10px !important;
}

.marginTop20 {
  margin-top: 20px !important;
}

.marginTop30 {
  margin-top: 30px !important;
}

.marginBottom15 {
  margin-bottom: 15px !important;
}

.marginBottom20 {
  margin-bottom: 20px !important;
}

.marginRight15 {
  margin-right: 15px !important;
}

.displayInlineBlock {
  display: inline;
}

.alignItemsCenter {
  display: flex !important;
  align-items: center;
}

.textAlignCenter {
  text-align: center;
}

.floatRight {
  float: right;
}

.errorMsg {
  color: red;
  font-size: 14px;
}
