body {
  background-color: #faf2e8;
  color: #322a27;
  font-family: Georgia, serif;
}

html:before,
html:after,
body:before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1.5px solid #322a27;
}

html:after {
  z-index: 10;
  top: auto;
  border-width: 0 0 1px;
}

body:before {
  z-index: 10;
  bottom: auto;
  border-width: 1px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

::placeholder {
  font-family: Georgia, serif;
}

.title__wrap {
  display: inline-block;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom: 30px;
}

.title {
  font-weight: bold;
  margin-right: 10px;
}

.description {
  margin-bottom: 0;
  font-size: 18px;
}

.description li {
  margin-bottom: 5px;
}

.description .example {
  margin-top: 20px;
}

.bookmark {
  font-size: 24px;
  color: #2831d9b7;
  float: right;
  cursor: pointer;
}
