.header {
  width: 85%;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 480px) {
  .header {
    width: 90%;
  }
}

.header__inner {
  height: 85px;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2.5px double #938e8d;
}

@media screen and (max-width: 480px) {
  .header__inner {
    height: 45px;
  }
}

.header__logo {
  width: 50%;
  cursor: pointer;
  text-align: center;
  font-size: 40px;
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 50%;
    font-size: 30px;
  }
}

.userIcon {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .userIcon {
    font-size: 16px;
  }
}

.userIcon p {
  margin: 0;
  font-size: 14px;
  font-family: "Noto Serif JP", serif;
}

@media screen and (max-width: 480px) {
  .userIcon p {
    font-size: 12px;
  }
}

.navigation {
  margin: 20px 0;
  background-color: #322a27;
  text-align: center;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-family: "Noto Serif JP", serif;
  text-decoration: none;
}
