.header {
  width: 85%;
  height: 85px;
  margin: auto;
  font-family: cursive;
}

.header__inner {
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  border-bottom: 2px double #322a27;
}

.header__logo {
  width: 30%;
  cursor: pointer;
  text-align: center;
  font-size: 40px;
}

.navigation {
  display: flex;
  margin: 20px 0;
  background-color: #322a27;
}

.navigation ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  display: inline;
  float: left;
}

.navigation ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-family: Georgia, serif;
  text-decoration: none;
}
