.inputformWrap {
  width: 50%;
  background-color: white;
  margin: 20px auto;
  padding: 40px 50px;
}

@media screen and (max-width: 480px) {
  .inputformWrap {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .inputform {
    padding: 30px;
  }
}

.inputform div[class="inputField"] {
  margin-bottom: 20px;
}

.inputform ul {
  margin: 0;
}

.inputform label {
  display: block;
  font-weight: 600;
}

.inputform input {
  width: 98%;
  height: 30px;
  margin: 20px 0 30px 0;
  border: none;
  border-bottom: 1.2px solid #322a27;
  border-radius: 0;
  font-family: inherit;
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  .inputform input {
    margin-top: 10px;
  }
}

.inputform input:focus {
  outline: none;
}

.inputform input:-internal-autofill-selected {
  background-color: white !important;
}

.inputform .selectbox {
  width: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.inputform .selectbox::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  pointer-events: none;
}

.inputform .selectbox select {
  appearance: none;
  width: 100%;
  height: 2.8em;
  margin: 20px 0 30px 0;
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  border: none;
  border-bottom: 1.2px solid #322a27;
  background-color: #fff;
  color: #322a27;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
}

.inputform .selectbox select:focus {
  outline: none;
}

.inputform textarea {
  width: 98%;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1.2px solid #322a27;
  border-radius: 0;
  resize: vertical;
  font-family: inherit;
  font-size: 15px;
}

.inputform textarea:focus {
  outline: none;
}

.number {
  font-size: 14px;
  margin: 0;
}
