.header {
  width: 85%;
  height: 85px;
  margin: auto;
  font-family: cursive;
}

.header__inner {
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
  border-bottom: 2px double #322a27;
}

.header__logo {
  width: 30%;
  cursor: pointer;
  text-align: center;
  font-size: 40px;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.main {
  width: 85%;
  margin: 5rem auto;
}
