.title__wrap {
  display: inline-block;
  justify-content: space-between;
  font-size: 28px;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .title__wrap {
    font-size: 22px;
    margin-bottom: 20px;
    width: 70%;
  }
}

.title {
  font-weight: 600;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .title {
    margin-right: 5px;
  }
}
