.userformWrap {
  width: 40%;
  background-color: white;
  margin: 20px auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .userformWrap {
    width: 80%;
    padding: 30px;
  }
}

.userform {
  width: 100%;
}

.userform label {
  display: block;
  margin-top: 20px;
  font-weight: 600;
}

.userform input {
  width: 98.5%;
  height: 30px;
  margin-top: 20px;
  border: none;
  border-radius: 0;
  border-bottom: 1.2px solid #322a27;
  font-family: inherit;
}

@media screen and (max-width: 480px) {
  .userform input {
    font-size: 15px;
  }
}

.userform input[class="error"] {
  border-color: red;
}

.userform input:focus {
  outline: none;
}

.userform input:-internal-autofill-selected {
  background-color: white !important;
}

.userform div[class="buttonWrap"] {
  margin-top: 20px;
}

.userform button[class="first"] {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: #322a27;
  color: white;
  border: none;
  margin: 0 auto;
  margin-top: 15px;
}

.userform button[class="second"] {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: white;
  color: #322a27;
  border: 2px double #322a27;
  margin: 0 auto;
  margin-top: 10px;
}
