.label {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}

.wordInput {
  width: 65% !important;
}

@media screen and (max-width: 480px) {
  .wordInput {
    width: 50% !important;
  }
}

.duplicateWordResult {
  margin: 0;
  font-size: 15px;
  margin-bottom: 20px;
}

.notExist {
  color: #28d97eeb;
}

.exist {
  color: #ea142ddc;
}

.duplicateWordList {
  margin-bottom: 20px !important;
}

.duplicateWord {
  padding: 10px;
  font-size: 15px;
  border: 0.75px solid #322a27;
}

.duplicateWord:not(:last-child) {
  border-bottom: 0;
}

.duplicateWord .link {
  float: right;
  text-decoration: none;
}

.number {
  font-size: 14px;
  margin: 0;
}

.exampleInput {
  margin-bottom: 20px !important;
}
