.wordListWrap {
  margin-bottom: 40px;
}

.wordListWrap .titleWrap {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.wordListWrap .titleWrap .title {
  font-size: 22px;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .wordListWrap .titleWrap .title {
    font-size: 20px;
  }
}

.wordListWrap .wordList:not(:first-child) {
  border-top: 0.5px solid #9b9390;
}

.wordListWrap .meaning {
  margin-bottom: 15px;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .wordListWrap .meaning {
    font-size: 16px;
  }
}
